.spotify-font {
    color: black;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.green-button {
    background-color: #1ed05d;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.logo {
    width: 200px;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.message {
    background-color: #ff5959;
    color: white;
    font-size: x-large;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    font-weight: bold;    
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}