body {
    background-color: #121212;
}

nav {
    background-color: black;
}

.btn {
    border-radius: 20px;
}

.profile_img {
    width: 30px;
    height: 30px;
    object-fit:cover;
    border-radius: 20px;
    margin-right: 10px;
}

.profile_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 15px;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.playlist {
    display: block;
    margin-top: 80px;
    margin-bottom: 70px;
}

.playlist-search, .playlist-create {
    text-align: center; 
}

.playlist-search-box {
    border-radius: 25px;
    font-size: 16px;
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 11px 20px 11px 45px;
}

.green-button {
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 30px;
}
